
    <div class="conteudo-modal">
      <p class="titulo-modal">Criar paciente</p>
      <form class="formulario-paciente" id="formulario" method="post" action="{% url 'cadastrar-paciente' %}">
        {% csrf_token %}
        <div class="form-item">
          <label>Nome</label>
          {{form.nome}}
        </div>
        <div class="container-inputs">
          <div class="form-item">
            <label for="idade">Idade:</label>
            {{form.idade}}
          </div>
          <div class="form-item">
            <label for="peso">Peso (em Kg)</label>
           {{form.peso}}
          </div>
          <div class="form-item">
            <label>Altura (m)</label>
           {{form.altura}}
          </div>
        </div>
        <div class="form-item">
          <label>Email</label>
         {{form.email}}
        </div>
        <div class="container-inputs">
          <div class="form-item">
            <label>CPF</label>
           {{form.cpf}}
          </div>
          <div class="form-item">
            <label>Whatsapp</label>
            {{form.whatsapp}}
          </div>
        </div>
        <div class="footer-modal-criar-paciente">
          <button id="botao-cancelar" type="button">Cancelar</button>
          <button id="botao-salvar-paciente" type="submit">Salvar</button>
        </div>
      </form>
    </div>

{{form.errors}}

<script>
  botaoCancelar = document.querySelector("#botao-cancelar")
  botaoCancelar.addEventListener("click", function() {
    const modal = document.getElementById('myModal')
    modal.close()
  });
</script>