
    <div class="conteudo-modal">
      <p class="titulo-modal">Criar paciente</p>
      <form class="formulario-paciente" method="post" action="{% url 'cadastrar-paciente' %}">
        {% csrf_token %}
        <div class="form-item">
          <label>Nome</label>
          {{form.nome}}
        </div>
        <div class="container-inputs">
          <div class="form-item">
            <label for="idade">Idade:</label>
            {{form.idade}}
          </div>
          <div class="form-item">
            <label for="peso">Peso (em Kg)</label>
           {{form.peso}}
          </div>
          <div class="form-item">
            <label>Altura (m)</label>
           {{form.altura}}
          </div>
        </div>
        <div class="form-item">
          <label>Email</label>
         {{form.email}}
        </div>
        <div class="container-inputs">
          <div class="form-item">
            <label>CPF</label>
           {{form.cpf}}
          </div>
          <div class="form-item">
            <label>Whatsapp</label>
            {{form.contato}}
          </div>
        </div>
        <div class="footer-modal-criar-paciente">
          <button id="botao-cancelar-paciente" type="Cancelar">Cancelar</button>
          <button id="botao-salvar-paciente" type="submit">Salvar</button>
        </div>
      </form>
      
    </div>