{% extends 'core/base.html' %}
{% load static %}
{% block main %}
  <dialog class="cadastro-de-paciente" id="myModal">
    <button id="fecharModal"><i class="ph ph-x"></i></button>
    <div class="conteudo-modal">
      <p class="titulo-modal">Criar paciente</p>
      <form class="formulario-paciente" method="post">
        {% csrf_token %}
        <div class="form-item">
          <label>Nome</label>
          <input type="text" placeholder="Ex: John Doe" />
        </div>
        <div class="container-inputs">
          <div class="form-item">
            <label for="idade">Idade:</label>
            {{ form.idade }}
          </div>
          <div class="form-item">
            <label>Peso (em Kg)</label>
            <input type="text" placeholder="Ex: 50kg" />
          </div>
          <div class="form-item">
            <label>Altura (m)</label>
            <input type="text" placeholder="Ex: 50m" />
          </div>
        </div>
        <div class="form-item">
          <label>Email</label>
          <input type="text" placeholder="Ex: tylerjoseph@gmail.com" />
        </div>
        <div class="container-inputs">
          <div class="form-item">
            <label>CPF</label>
            <input type="text" placeholder="123.456.789-00" />
          </div>
          <div class="form-item">
            <label>Whatsapp</label>
            <input type="text" placeholder="(99) 99999-9999" />
          </div>
        </div>
      </form>
      <div class="footer-modal-criar-paciente">
        <button id="botao-cancelar-paciente" type="Cancelar">Cancelar</button>
        <button id="botao-salvar-paciente" type="Salvar">Salvar</button>
      </div>
    </div>
  </dialog>
{% endblock %}
