{% load static %}
  <ul id="collapse">
    <li>
      <label class="collapse-header" for={{paciente.id}}>
        <div class="informacoes-do-paciente">
          <img src="{% static 'imagens/usuario.svg' %}" alt="Logo DietHub" /> {{ paciente.nome }}
        </div>
        <i class="ph ph-caret-down"></i>
      </label>
      <input type="radio" name="collapse" id="{{paciente.id}}" />
      <div class="content">
        <div class="informacoes-gerais-do-paciente">
          <div class="detalhes-collapse">
            <span class="titulo-collapse">Nome</span>
            <span class="dados-do-cliente"> {{paciente.nome}} </span>
          </div>

          <div class="detalhes-collapse">
            <span class="titulo-collapse">Email</span>
            <span class="dados-do-cliente">{{paciente.email}}</span>
          </div>

          <div class="detalhes-collapse">
            <span class="titulo-collapse">CPF</span>
            <span class="dados-do-cliente">{{paciente.cpf}}</span>
          </div>

          <div class="detalhes-collapse">
            <span class="titulo-collapse">Whatsapp</span>
            <a href="https://api.whatsapp.com/send?phone={{paciente.whatsapp}}&text=Ol%C3%A1%2C%20aqui%20est%C3%A1%20o%20seu%20formul%C3%A1rio"><img src="{% static 'imagens/icone-whatsapp.svg' %}" alt="icone-whatsapp" /> Entrar em contato</a>
          </div>
        </div>

        <hr class="solid" />

        <div class="informacoes-gerais-do-paciente">
          <div class="detalhes-collapse">
            <span class="titulo-collapse">Dieta</span>
            <span class="aguardando-acao">{{paciente.status}}</span>
          </div>

          <button class="botao-criar-dieta" id="abrirModal2">
            <i class="ph ph-plus"></i>
            <span>Criar dieta</span>
          </button>
        </div>

        <hr class="solid" />

        <div class="informacoes-gerais-do-paciente">
          <div class="detalhes-collapse">
            <span class="titulo-collapse">Diário alimentar</span>
            <span class="aguardando-acao">Aguardando resposta do formulário de pré-consulta</span>
          </div>
        </div>

        <div class="footer-collapse-pacientes">
          <button hx-get={% url 'editar-paciente' id=paciente.id %} hx-trigger='click' hx-target='#modal3' hx-swap="innerHTML" class="abrirModal3 botao-editar">
            <i class="ph ph-pencil-simple-line"></i>
            <a>Editar</a>
          </button>
          <button class="botao-excluir">
            <i class="ph ph-trash"></i>
            <a href="{% url 'deletar-paciente' id=paciente.id %}">Excluir</a>
          </button>
        </div>
      </div>
      <dialog class="cadastro-de-paciente" id="myModal3">
        <button class="fecharModal"><i class="ph ph-x"></i></button>
        <div id="modal3">
        </div>
      </dialog>
    </li>
  </ul>