{% extends 'core/base.html' %}
{% load static %}

{% block main %}
  <dialog class="cadastrar-dieta" id="myModal2">
    <button id="fecharModal2"><i class="ph ph-x"></i></button>
    <div class="conteudo-modal-criar-dieta">
      <p class="titulo-modal-criar-dieta">Criar dieta</p>
      <div class="menu-refeicoes">
        <div class="refeicao" id="refeicao-atual">
          <p>Refeição I</p>
        </div>
        <div class="refeicao">
          <p>Refeição II</p>
        </div>
        <div class="refeicao">
          <p>Refeição III</p>
        </div>
      </div>
      <div class="container-opcoes">
        <div class="item-dieta">
          <div class="alimento">
            <label class="titulo-alimento">Opção 1:</label>
            <input class="input-nome-alimento" type="text" value="Salada de frutas" />
          </div>
          <div class="alimento">
            <label class="titulo-alimento">Substituto:</label>
            <input class="input-nome-alimento" type="text" value="Vitamina" />
          </div>
        </div>
        <div class="item-dieta">
          <div class="alimento">
            <label class="titulo-alimento">Opção 2:</label>
            <input class="input-nome-alimento" type="text" value="Salada de frutas" />
          </div>
          <div class="alimento">
            <label class="titulo-alimento">Substituto:</label>
            <input class="input-nome-alimento" type="text" value="Vitamina" />
          </div>
        </div>
        <div class="item-dieta">
          <div class="alimento">
            <label class="titulo-alimento">Opção 1:</label>
            <input class="input-nome-alimento" type="text" value="Salada de frutas" />
          </div>
          <div class="alimento">
            <label class="titulo-alimento">Substituto:</label>
            <input class="input-nome-alimento" type="text" value="Vitamina" />
          </div>
        </div>
      </div>
      <button type="button" id="adicionar-alimento">
        <i class="ph ph-plus"></i>
        Adicionar alimento
      </button>
      <div class="footer-modal-dieta">
        <button id="botao-cancelar-dieta" type="Cancelar">Cancelar</button>
        <button id="botao-salvar-dieta" type="Salvar">Salvar</button>
      </div>
    </div>
  </dialog>
{% endblock %}
