
    <div class="conteudo-modal">
      <p class="titulo-modal-cadastrar-alimento">Defina o número de refeições</p>
      <form class="formulario-paciente" id="formulario" method="post" action="{% url 'cadastrar-dieta' %}">
        {% csrf_token %}
        <div class="form-item">
          <label>Nome da dieta: </label>
          <input placeholder="ex.: Dieta para perda de gordura" name="nome-dieta" id="nome-dieta">
        </div>
        <div class="form-item">
          <label>Quantidade de refeições: </label>
          <input type="number" name="numero-refeicoes" id="numero-refeicoes">
        </div>
        <div class="footer-modal-criar-paciente">
          <button id="botao-cancelar-paciente" type="button">Cancelar</button>
          <button id="botao-salvar-paciente" type="submit">Salvar</button>
        </div>
      </form>
    </div>
<script>
  document.getElementById("botao-cancelar-paciente").addEventListener("click", function() {
    var form = document.getElementById("formulario");
    form.reset();
  });
</script>