
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-bottom: 12px;
}

.side-bar {
    width: fit-content;
    height: 100vh;
    border-right: 1px solid #F4F3F3;
    padding: 12px;
    width: 13.44rem; /* 215px */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 100%;
}

.opcao-do-menu {
    padding: 12px 30px;
    border-radius: 10px;
    color: #0C9A61;
    gap: 8px;
}

.opcao-do-menu:hover {
    background-color: rgb(168, 168, 168, 12%);
    cursor: pointer;
    transition: all 0.5s;
}

.opcao-do-menu-atual {
    background-color: rgb(12, 154, 97, 14%);
}

.opcao-do-menu-atual:hover {
    cursor: pointer;
    background-color: rgb(12, 154, 97, 14%);
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: #A8A8A8;
    display: flex;
    align-items: center;
    gap: 8px;
}

.opcao-do-menu-atual a, .opcao-do-menu-atual i {
    color: #0C9A61;
    font-weight: bold;
}

.ph {
    font-size: 20px;
    color: #A8A8A8;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.94rem 3.31rem; /* 31px 53px */
}

.informacoes-do-usuario{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 4px;
    border-radius: 10px;
}

.informacoes-do-usuario:hover {
    cursor: pointer;
    background-color: rgb(255, 141, 97, 14%);
    transition: all 0.5s;
}

.texto-informacoes-do-usuario span{
    display: block;
    margin-top: 4px;
    text-align: right;
    font-weight:bold;
}

.nome-do-usuario {
    font-size: 0.75rem; /* 12px */
    color: black;
}

.tipo-de-usuario {
    font-size: 0.69rem;
    color: #FF8D61;
}

.breadcrumb {
    font-size: 0.75rem; /* 12px */
    padding: 6px;
    border-radius: 10px;
}

.breadcrumb:hover {
    background-color: rgb(168, 168, 168, 14%);
    cursor: pointer;
    transition: all 0.5s;
}

.breadcrumb i {
    font-size: 1rem;
}

main {
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    gap: 51px;
    width: 100%;
    max-width: 1031px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.conteudo-principal h1 {
    font-size: 1.5rem; /* 24px */
    height: 100%;
    display: inline;
}

.cabecalho-conteudo-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.botao-padrao {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border-radius: 8px;
    background-color: #0C9A61;
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    gap: 4px;
}

.botao-padrao:hover {
    cursor: pointer;
}

.botao-padrao i {
    color: #FFF;
}

#collapse li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
}

#collapse-header {
    background-color: #F9FAFB;
}

#collapse li label {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    color: #141623;
    height: 60px;
    background-color: #F9FAFB;
    border-radius: 10px;
}

.informacoes-do-paciente {
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 100%;
    gap: 9px;
}

.informacoes-do-paciente img {
    width: 28px;
    height: auto;
}

.detalhes-do-paciente span {
    font-size: 12px;
}

.titulo-collapse {
    font-weight: 700;
}

.informacoes-gerais-do-paciente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 12px;
}

.detalhes-collapse {
    display: flex;
    flex-direction: column;
}

hr.solid {
    border-top: 1px solid #F4F3F3;
    margin: 12px 0;
}

#botao-criar-dieta {
    border: none;
    display: flex;
    align-items: center;
    color: #0C9A61;
    font-weight: 700;
    gap: 2px;
    background: transparent;
}

#botao-criar-dieta:hover {
    cursor: pointer;
}

#botao-criar-dieta i {
    color: #0C9A61;
    font-size: 14px;
}

.aguardando-acao {
    color: #A8A8A8;
    font-weight: 600;
}

.footer-collapse-pacientes {
    display: flex;
    align-items: center;
    gap: 13px;
    float: right;
    margin-bottom: 19px;
}

.footer-collapse-pacientes button {
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    background-color: transparent;
}

.footer-collapse-pacientes #botao-editar {
    border-radius: 10px;
    border: 1px solid #5550BC;
    color: #5550BC;
    padding: 8px 12px;
}

.footer-collapse-pacientes #botao-editar:hover {
    cursor: pointer;
    background-color: rgba(85, 80, 188,14%);
}


.footer-collapse-pacientes #botao-excluir {
    color: #FF1E1E;
}

.footer-collapse-pacientes #botao-excluir:hover {
    cursor: pointer;
}

.footer-collapse-pacientes #botao-excluir i {
    color: #FF1E1E;
}

.footer-collapse-pacientes #botao-editar i {
    color: #5550BC;
}
/* 
#collapse li label span {
    transform: rotate(90deg);
    font-size: 22px;
    color: #333;
} */

#collapse label + input[type="radio"] {
    display: none;
}

#collapse .content {
    padding: 0 40px;
    line-height: 36px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 14px;
}

#collapse label + input[type="radio"]:checked +  .content {
    max-height: 400px;

}





