.cadastro-alimento{
    max-width: 640px;
}
.conteudo-topo-alimento{
    display: flex;
    justify-content: space-between;
    margin-left: 52px;
}
.conteudo-topo-alimento h1{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    padding-bottom: 40px;
}
.labels-iniciais,
.row,
.checkbox-substituto{
    margin-left: 46px;
}
.cadastro-alimento label{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.cadastro-alimento span{
    color: #0C9A61;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.buttons-cadastrar-alimento{
    float: right;
}
#botao-cancelar{
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    background:  #FFFFFF;
    width: 103px;
    height: 43px;
    color:  #141623;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#botao-salvar{
    border-radius: 10px;
    background:  #0C9A61;
    border: none;
    color:  #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 103px;
    height: 43px;
}
.labels-iniciais input{
    width: 548px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #F4F3F3;
    margin-bottom: 32px;
    margin-top: 8px;
}
.row{
    display: flex;
}
.row input{
    width: 246px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid  #F4F3F3;
}
.row input::placeholder,
.labels-iniciais input::placeholder{
    color: #A8A8A8;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.checkbox-substituto{
    padding-bottom: 38px;
}