body{
    font-family: 'Roboto';
}
/* login */
#login h1,
#label-email,
#label-senha{
    color:#0C9A61;
}
#login h3{
    color:#898C93;
}
#login a{
    color: #FF8D61;
}
#login button{
    color: #FFFFFF;
    background-color: #0C9A61;
}
#login{
    border: 3px solid #E2E2E2;
    border-radius: 5px;
    width: 525px;
    height: 680px;
    text-align: center;
    align-items: center;
}
#login input {  
    width: 417px;
    height: 49px;
}
#login a{
    margin-left: 60%;
    margin-bottom: 20px;
}
/* login-main */
#login-main{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}

.section {
    margin: 10px; 
}
#logo{
    margin-right:50%;
}
/* forms */
.form-item {
    margin-bottom: 10px;
}
#form-btns button {
    width: 417px;
    height: 49px;
}
/* visualizar dieta */
#paciente{
    color:#FF8D61;
}
#container{
    display: flex;
}
#topo-visualizar {
    margin-bottom: 300px; 
}
#informacoes h4,
#calorias h4,
#consumiu h4{
    color: #A8A8A8;
}
#informacoes,
#objetivo,
#diagnostico,
#status{
    border: 3px solid #E2E2E2;
    border-radius: 5px;
}
.labels{
    color: #A8A8A8;
}
#container-2{
    display: flex;
}
.quadros{
    margin-bottom: 20px; 
}
#conatainer-3{
    display: flex;
}
.topo-dieta{
    margin-bottom: 40px;
}
#container-3 button{
    width: 132px;
    height: 36px;
    background-color: #0C9A61;
    color:#FFFFFF;
}
#cafe{
    border: 3px solid #E2E2E2;
    border-radius: 5px;
}
#consumiu{
    border: 3px solid #FF8D61;
    border-radius: 5px;
    background-color: #FF8D61;
}
#button-diario a{
    color:#0C9A61;
}