body{
    font-family: 'Roboto';
}
/* login */
#login h1,
#label-email,
#label-senha{
    color:#0C9A61;
}
#login h3{
    color:#898C93;
}
#login a{
    color: #FF8D61;
}
#login button{
    color: #FFFFFF;
    background-color: #0C9A61;
}
#login{
    border: 3px solid #E2E2E2;
    border-radius: 5px;
    width: 525px;
    height: 680px;
    text-align: center;
    align-items: center;
}
#login input {  
    width: 417px;
    height: 49px;
}
#login a{
    margin-left: 60%;
    margin-bottom: 20px;
}
/* login-main */
#login-main{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}

.section {
    margin: 10px; 
}
#logo{
    margin-right:50%;
}
/* forms */
.form-item {
    margin-bottom: 10px;
}
#form-btns button {
    width: 417px;
    height: 49px;
}
/* visualizar dieta */
#paciente{
    color:#FF8D61;
}
#container{
    display: flex;
}
#topo-visualizar {
    margin-bottom: 300px; 
}
#informacoes h4,
#calorias h4,
#consumiu h4{
    color: #A8A8A8;
}
#informacoes,
#objetivo,
#diagnostico,
#status{
    border: 3px solid #E2E2E2;
    border-radius: 5px;
}
.labels{
    color: #A8A8A8;
}
#container-2{
    display: flex;
}
.quadros{
    margin-bottom: 20px; 
}
#container-3{
    display: flex;
    justify-content: space-between;
}
.topo-dieta h1{
    margin-left: 33px;
}
.topo-dieta button{
    border-radius: 8px;
    border: none;
}
#container-3 button{
    width: 132px;
    height: 36px;
    background-color: #0C9A61;
    color:#FFFFFF;
}
#consumiu{
    border: 1px solid #FF8D61;
    border-radius: 10px;
    background: rgba(255, 141, 97, 0.14);
}
#consumiu h4,
#consumiu p{
    margin-left: 20px;
}
#button-diario a{
    color:#0C9A61;
    text-align: left;
    margin-left: 90%;
}
#button-diario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
#parte-1,
#parte-2{
    display: flex;
    gap: 195px;
}
.alimentos-1,
.alimentos-2{
    margin-bottom: 30px;
}
#cafe-da-manha{
    display: flex;
    align-items: center;
    gap: 10px;

}
#cafe-da-manha h3{
    color:#0C9A61;
}
#cafe-da-manha,
#parte-1,
#parte-2{
    margin-left: 58px;
}
#calorias,
#cafe{
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
}
#alimento-1 h3,
#substituto-1 h3,
#alimento-2 h3,
#substituto-2 h3{
    margin-bottom: 10px;
}
#alimento-1 p,
#substituto-1 p,
#alimento-2 p,
#substituto-2 p{
    margin-top: 0px;
}
#informacoes-dieta{
    width: 761px;
}