{% extends 'core/base.html' %}

{% load static %}

{% block sidebar %}
  {% include "core/sidebar.html" with opcao_menu_atual='listar-alimentos' %}
{% endblock %}

{% block main %}
<body>
  <main>
    <header>
      <nav class="breadcrumbs">
        <div class="breadcrumb">
          <a href="{% url 'listar-pacientes'%}">
            <i class="ph ph-house-line"></i>
            <span>Home /</span>
          </a>
        </div>

        <div class="breadcrumb">
          <a href="/alimentos">
            <i class="ph ph-apple-logo"></i>
            <span>Alimentos /</span>
          </a>
        </div>
      </nav>

      <div class="informacoes-do-usuario">
        <div class="texto-informacoes-do-usuario">
          <span class="nome-do-usuario">Claudinei Camilo</span>
          <span class="tipo-de-usuario">Nutricionista</span>
        </div>
        <img src="{% static 'imagens/usuario.svg' %}" alt="Logo DietHub" />
      </div>
    </header>
    <section class="conteudo-principal">
      <div class="cabecalho-conteudo-principal">
        <h1>Alimentos</h1>

        <button class="botao-padrao" id="abrirModal" type="button" hx-get={% url 'cadastrar-alimento' %} hx-trigger='click' hx-target='#modal' hx-swap="innerHTML">
          Novo alimento
        </button>
      </div>

      <div class="nav-tipos-de-alimentos">
        <a href="{% url 'listar-alimentos' %}?tipo=comuns" class="{% if not request.GET.tipo or request.GET.tipo == 'comuns' %}selecionado-tipo-alimento{% endif %}">Comuns</a>
        <a href="{% url 'listar-alimentos' %}?tipo=substitutos" class="{% if request.GET.tipo == 'substitutos' %}selecionado-tipo-alimento{% endif %}">Substitutos</a>
        <hr />
      </div>
      
      {% if request.GET.tipo %}
        {% for alimento in alimentos %}
          {% if request.GET.tipo == 'comuns' and not alimento.e_substituto %}
            {% include "alimento/collapse-alimentos.html" %}
          {% elif request.GET.tipo == 'substitutos' and alimento.e_substituto %}
            {% include "alimento/collapse-alimentos.html" %}
          {% endif %}
        {% endfor %}
      {% else %}
        {% for alimento in alimentos %}
          {% if not alimento.e_substituto %}
            {% include "alimento/collapse-alimentos.html" %}
          {% endif %}
        {% endfor %}
      {% endif %}

      

      <dialog class="cadastro-alimento" id="myModal">
        <button id="fecharModal"><i class="ph ph-x"></i></button>

        <div id="modal">
        </div>
      </dialog>
    
    </section>
  </main>
</body>
{% endblock %}
