{% extends 'core/base.html' %}
{% load static %}

{% block main %}
  <dialog class="cadastro-alimento" id="myModal">
    <button id="fecharModal"><i class="ph ph-x"></i></button>
    <div class="conteudo-modal-cadastrar-alimento">
      <p class="titulo-modal-cadastrar-alimento">Cadastrar novo alimento</p>

      <form class="formulario-cadastrar-alimento">
        <div class="form-item">
          <label>Nome</label>
          <input type="text" placeholder="Ex: Maçã" />
        </div>
        <div class="form-item">
          <label>Tipo</label>
          <input type="text" placeholder="Ex: Proteína" />
        </div>
        <div class="container-inputs">
          <div class="form-item">
            <label>Calorias (em kcal)</label>
            <input type="text" placeholder="Ex: 21" />
          </div>
          <div class="form-item">
            <label>Porção (em g)</label>
            <input type="text" placeholder="(Ex: 50kg)" />
          </div>
        </div>
        <div id="checkbox-substituto">
          <input type="checkbox" />
          <span>É um alimento substituto</span>
        </div>
      </form>
    </div>

    <div class="footer-modal-cadastrar-alimento">
      <button id="botao-cancelar-alimento" type="Cancelar">Cancelar</button>
      <button id="botao-salvar-alimento" type="Salvar">Salvar</button>
    </div>
  </dialog>
{% endblock %}
