{% load static %}
  <ul id="collapse">
    <li>
      <label for={{alimento.id}}>
        <div class="informacoes-do-paciente">
          <i class="ph ph-cookie"></i> {{alimento.nome}}
        </div>
        <i class="ph ph-caret-down"></i>
      </label>
      <input type="radio" name="collapse" id="{{alimento.id}}" {% if forloop.first %}checked{% endif %} />

      <div class="content">
        <div class="informacoes-gerais-do-paciente">
          <div class="detalhes-collapse">
            <span class="titulo-collapse">Porção (em g)</span>
            <span class="dados-do-cliente">{{alimento.porcao}}</span>
          </div>

          <div class="detalhes-collapse">
            <span class="titulo-collapse">Calorias (em kcal)</span>
            <span class="dados-do-cliente">{{alimento.calorias}}</span>
          </div> 

          <div class="detalhes-collapse">
            <span class="titulo-collapse">Carboidratos</span>
            <span class="dados-do-cliente">{{alimento.carboidratos}}</span>
          </div>

          
          <div class="detalhes-collapse">
            <span class="titulo-collapse">Fibra alimentar</span>
            <span class="dados-do-cliente">{{alimento.fibra_alimentar}}</span>
          </div>
          <div class="detalhes-collapse">
            <span class="titulo-collapse">Proteínas</span>
            <span class="dados-do-cliente">{{alimento.proteinas}}</span>
          </div>
          <div class="detalhes-collapse">
            <span class="titulo-collapse">Gorduras</span>
            <span class="dados-do-cliente">{{alimento.gorduras}}</span>
          </div>
        </div>

        <div class="footer-collapse-pacientes">
          <button id="botao-editar">
            <i class="ph ph-pencil-simple-line"></i>
            Editar
          </button>
          <button id="botao-excluir">
            <i class="ph ph-trash"></i>
            <a href="{% url 'deletar-alimento' id=alimento.id %}">Excluir</a>
          </button>
        </div>
      </div>
    </li>
  </ul>