main {
    overflow: auto;
}

.conteudo-dieta {
    display: flex;
    gap: 23px;
    margin: auto;
    justify-content: center;
}

.informacoes-gerais {
    max-width: 761px;
    padding: 39px 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 59px;
}

#informacoes h1 {
    background: #FFFFFF;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
}

.divisor {
    margin: 20px 0;
    width: 100%;
    border: 1px solid #f4f3f3;
}

#informacoes h4,
#calorias h4,
#calorias-consumidas h4 {
    color: #A8A8A8;
}

#informacoes h4 {
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 24.6px;
    padding-bottom: 26px;
    padding-top: 26px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

#informacoes-dieta {
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
}

.labels {
    color: #A8A8A8;
    font-size: 13px;
    font-weight: bold;
}

.conteudo-quadro {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

#container-2 {
    display: flex;
}

.quadros {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #F4F3F3;
    background: transparent;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 12px 25px 27px;
}

#container-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.topo-dieta h1 {
    margin-left: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}

.topo-dieta button {
    border-radius: 8px;
    border: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#container-3 button {
    width: 132px;
    height: 36px;
    background-color: #0C9A61;
    color: #FFFFFF;
}

#calorias-consumidas {
    border: 1px solid #FF8D61;
    border-radius: 10px;
    background: rgba(255, 141, 97, 0.14);
    padding: 12px 20px;
    width: 100%;
}

#texto-voce-consumiu {
    font-size: 14px;
    color: #A8A8A8;
    font-weight: bold;
    margin-bottom: 8px;
}

#numero-de-calorias-consumidas {
    font-size: 15px;
    font-weight: bold;
    color: black;
}


#botao-diario-alimentar:hover {
    cursor: pointer;
    background-color: rgba(12, 154, 97, 0.779);
}

#botao-diario-alimentar-secundario a {
    color: #0C9A61;
    text-align: left;
    padding-left: 300px;
}

#botao-diario-alimentar-secundario {
    border: none;
    color: #0C9A61;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 17px;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
}

#botao-diario-alimentar-secundario:hover {
    cursor: pointer;
}

#botao-diario-alimentar-secundario i {
    height: 20px;
    width: 20px;
    color: #0C9A61;
}

#parte-1,
#parte-2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #000;
}

#parte-1 h3,
#parte-2 h3 {
    font-size: 14px;
    color: #000;
}

.alimentos-1,
.alimentos-2 {
    margin-bottom: 30px;
}

#cafe-da-manha {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #0C9A61;
    padding-bottom: 25px;
}

#cafe-da-manha i {
    color: #0C9A61;
}

#cafe-da-manha h3 {
    font-size: 14px;
    color: #0C9A61;
    margin-bottom: 0;
}

#calorias {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#conteudo-calorias {
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#dieta {
    width: 100%;
}

#titulo-calorias {
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 12px;
}

#descricao-calorias {
    font-size: 13px;
    color: #A8A8A8;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin-bottom: 21px;

}

#calorias h4 {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

#cafe {
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
    padding: 18px 26px;
}

#alimento-1 h3,
#substituto-1 h3,
#alimento-2 h3,
#substituto-2 h3 {
    margin-bottom: 10px;
}

#alimento-1 p,
#substituto-1 p,
#alimento-2 p,
#substituto-2 p {
    margin-top: 0px;
}

#substituto-1,
.alimentos-1,
#substituto-2,
.alimentos-2 {
    width: 50%;
}