#collapse li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #FFF;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
}

#collapse-header {
    background-color: #F9FAFB;
}

.collapse-header {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    color: #141623;
    height: 60px;
    background-color: #F9FAFB;
    border-radius: 10px;
}



.footer-collapse-pacientes {
    display: flex;
    align-items: center;
    gap: 13px;
    float: right;
    margin-bottom: 19px;
}

.footer-collapse-pacientes button {
    border: none;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
    background-color: transparent;
}

.footer-collapse-pacientes .botao-editar {
    border-radius: 10px;
    border: 1px solid #5550BC;
    color: #5550BC;
    padding: 8px 12px;
}

.footer-collapse-pacientes .botao-editar:hover {
    cursor: pointer;
    background-color: rgba(85, 80, 188, 14%);
}


.footer-collapse-pacientes #botao-excluir {
    color: #FF1E1E;
}

.footer-collapse-pacientes #botao-excluir:hover {
    cursor: pointer;
}

.footer-collapse-pacientes #botao-excluir i {
    color: #FF1E1E;
}

.footer-collapse-pacientes .botao-editar i {
    color: #5550BC;
}

.informacoes-do-paciente {
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 100%;
    gap: 9px;
}

.informacoes-do-paciente img {
    width: 28px;
    height: auto;
}

.detalhes-do-paciente span {
    font-size: 12px;
}

.titulo-collapse {
    font-weight: 700;
}

.informacoes-gerais-do-paciente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 12px;
}

.detalhes-collapse {
    display: flex;
    flex-direction: column;
}

hr.solid {
    border-top: 1px solid #F4F3F3;
    margin: 12px 0;
}

.botao-criar-dieta {
    border: none;
    display: flex;
    align-items: center;
    color: #0C9A61;
    font-weight: 700;
    gap: 2px;
    background: transparent;
}

.botao-criar-dieta:hover {
    cursor: pointer;
}

.botao-criar-dieta i {
    color: #0C9A61;
    font-size: 14px;
}

.aguardando-acao {
    color: #A8A8A8;
    font-weight: 600;
}

/* 
#collapse li label span {
    transform: rotate(90deg);
    font-size: 22px;
    color: #333;
} */

#collapse label+input[type="radio"] {
    display: none;
}

#collapse .content {
    padding: 0 40px;
    line-height: 36px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-size: 14px;
}

#collapse label+input[type="radio"]:checked+.content {
    max-height: 100vh;
}