.topo-questao {
    display: flex;
    justify-content: start;
    width: 100%;
}

.tipo-questao h1 {
    font-size: 24px;
    margin-bottom: 32px;
}

.tipo-questao {
    max-width: 640px;
    max-height: 373px;
    border: none;
}

.topo-questao button {
    border: none;
    background-color: #FFFFFF;
}

.topo-questao .ph-x {
    color: #000000;
}

.questoes {
    display: flex;
    flex-direction: column;
}

.questoes label {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.questoes select {
    width: 548px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #F4F3F3;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 36px;
    padding-left: 16px;
}

.buttons-tipo-questao {
    float: right;
    margin-right: 46px;
    display: flex;
    gap: 20px;
}

.buttons-tipo-questao #botao-salvar-paciente {
    border-radius: 10px;
    background: #0C9A61;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 103px;
    height: 43px;
}

.buttons-tipo-questao #botao-cancelar-paciente {
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
    width: 103px;
    height: 43px;
    color: #141623;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.footer-modal-questao {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    gap: 24px;
}

.footer-modal-questao button {
    border-radius: 10px;
    padding: 10px 24px;
    border: none;
    font-size: 16px;
}