dialog.cadastrar-dieta {
    font-family: 'Inter', sans-serif;
    position: relative;
    padding: 27px 40px;
    border: none;
    max-height: 559px;
    border: none;
    position: relative;
    margin: auto;
    border-radius: 10px;
    width: 50%;
}

#fecharModal2 {
    position: absolute;
    margin: 22px 30px;
    top: 0;
    right: 0;
    border: none;
    background-color: transparent;
}

#fecharModal2:hover {
    cursor: pointer;
}

.conteudo-modal-criar-dieta {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
}

.titulo-modal-criar-dieta {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.topo-cadastrar-dieta button {
    border: none;
    background-color: #FFFFFF;
}

.topo-cadastrar-dieta .ph-x {
    color: #000000;
}

.refeicao {
    color: #0C9A61;
    width: 100%;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.refeicao p {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

#refeicao-atual {
    border-bottom: 4px solid #0C9A61;
    color: #0C9A61;
}

.container-opcoes {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.menu-refeicoes {
    display: flex;
    width: 100%;
    gap: 16px;
    align-items: start;
    margin: 43px 0;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.refeicoes-dieta {
    display: flex;
    gap: 16px;
    margin-bottom: 43px;
}

.container-opcoes-dietas label {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.container-opcoes-dietas p {
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
    width: 305px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
    margin-right: 22px;
}

.adicionar-alimento {
    display: flex;
    gap: 7px;
    align-items: center;
}

.item-dieta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}

.alimento {
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
}

.titulo-alimento {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.input-nome-alimento {
    font-weight: 400;
    border: 1px solid #F4F3F3;
    border-radius: 10px;
    padding: 12px;
}

.adicionar-alimento .ph-plus {
    color: #FF8D61;
}

#adicionar-alimento {
    border: none;
    background-color: transparent;
    color: #FF8D61;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-top: 32px;
}

#adicionar-alimento:hover {
    cursor: pointer;
}

.footer-modal-dieta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

.footer-modal-dieta button {
    border: none;
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 24px;
    font-size: 16px;
}

.footer-modal-dieta button:hover {
    cursor: pointer;
}

#botao-salvar-dieta {
    background-color: #0C9A61;
    color: #FFFFFF;
}

#botao-cancelar-dieta {
    color: black;
    border: 1px solid #F4F3F3;
}