* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-bottom: 12px;
}

.side-bar {
    width: fit-content;
    height: 100vh;
    border-right: 1px solid #F4F3F3;
    padding: 12px;
    width: 235px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 100%;
}

.opcao-do-menu {
    padding: 12px 30px;
    border-radius: 10px;
    color: #0C9A61;
    gap: 8px;
}

.opcao-do-menu:hover {
    background-color: rgb(168, 168, 168, 12%);
    cursor: pointer;
    transition: all 0.5s;
}

.opcao-do-menu-atual {
    background-color: rgb(12, 154, 97, 14%);
}

.opcao-do-menu-atual:hover {
    cursor: pointer;
    background-color: rgb(12, 154, 97, 14%);
    transition: all 0.5s;
}

a {
    text-decoration: none;
    color: #A8A8A8;
    display: flex;
    align-items: center;
    gap: 8px;
}

.opcao-do-menu-atual a,
.opcao-do-menu-atual i {
    color: #0C9A61;
    font-weight: bold;
}

.ph {
    font-size: 20px;
    color: #A8A8A8;
}