#container-tipo-formulario {
    display: flex;
    align-items: center;
    margin-bottom: 19px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    color: #0C9A61;
    font-size: 14px;
    width: 100%;
}

.conteudo-principal label {
    margin: 0;
}

.novo-formulario {
    width: 100%;
    max-width: 598px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.tipo-formulario {
    display: flex;
    align-items: center;
    gap: 7px;
}

input[type="radio"] {
    width: 20px;
    height: 20px;
    padding: 10px;
}

.container-pergunta {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    max-width: 598px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.form-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0;
    gap: 12px;
}

.form-item label {
    color: black;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
}

input,
textarea {
    width: 100%;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 12px;
    font-size: 14px;
}


input:focus,
textarea:focus {
    outline: 1px solid #0C9A61;
}

input::placeholder,
textarea::placeholder {
    color: #A8A8A8;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}

.form-item label {
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.footer-pergunta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#container-tipo-formulario {
    display: flex;
    align-items: center;
    gap: 47px;
    margin-bottom: 19px;
}

.tipo-formulario {
    color: #0C9A61;
    display: flex;
    gap: 7px;
    align-items: center;
}

.tipo-formulario label {
    font-size: 15px;
    font-weight: 800;
    margin: 0;
}


.checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #0C9A61;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox label {
    font-size: 16px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #0C9A61;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]::after {
    content: "\2714";
    font-size: 14px;
    color: #FFF;
    display: none;
}

input[type="checkbox"]:checked {
    background-color: #0C9A61;
}

input[type="checkbox"]:checked::after {
    display: block;
}

.botao-excluir {
    padding: 9px 11px;
    color: #FF1E1E;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 9px;
    border: 1px solid #FF1E1E;
    background-color: transparent;
    border-radius: 8px;
    justify-content: center;
}

.botao-excluir:hover {
    cursor: pointer;
}

.botao-excluir i {
    color: #FF1E1E;
    font-size: 20px;
}

.botao-nova-questao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: transparent;
    border: 1px dashed #A8A8A8;
    width: 100%;
    padding: 14px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    width: 100%;
    max-width: 598px;
    margin-top: 35px;
    margin-bottom: 26px;
    border-radius: 10px;
}

.botao-nova-questao i {
    color: #A8A8A8;
}

.botao-nova-questao:hover {
    cursor: pointer;
    background-color: rgb(168, 168, 168, 14%);
}

#botao-salvar {
    background-color: transparent;
    border: 1px solid #0C9A61;
    border-radius: 10px;
    color: #0C9A61;
    padding: 10px 7px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 133px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}