body {
    overflow: auto;
}

dialog::backdrop {
    background-color: rgba(168, 168, 168, 20%);
}

dialog {
    border: none;
    border-radius: 10px;
    max-width: 715px;
    box-shadow: 0 0 1em rgb(0, 0, 0 / .8);
    margin: auto;
    width: 100%;
    max-height: 776px;
    position: relative;
    padding: 34px 54px;
}

.titulo-modal-container {
    display: flex;
    flex-direction: column;
    gap: 21px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.titulo-modal {
    font-size: 20px;
    color: black;
}

.titulo-card i {
    color: #FF8D61;
}

.descricao-modal {
    font-size: 14px;
    color: #A8A8A8;
}

#fecharModal {
    position: absolute;
    border: none;
    background-color: transparent;
    margin: 24px 29px;
    top: 0;
    right: 0;
}

.titulo-alimento {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.alimento {
    color: black;
    font-weight: 400;
}

.topo-progresso-h3 {
    margin-left: 36px;
    margin-top: 32px;
}

.topo-progresso-h3 {
    margin-top: 0px;
}

.topo-progresso-h3 h3 {
    color: #A8A8A8;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.button-registrar-progresso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

#data {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.button-registrar-progresso a {
    text-decoration: none;
}

.button-registrar-progresso a,
#label-de-cafe,
#label-de-almoco {
    color: #FF8D61;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.botao-adicionar-info {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 0;
    background-color: transparent;
    color: #FF8D61;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.botao-adicionar-info:hover {
    cursor: pointer;
}

.botao-adicionar-info i {
    color: #FF8D61;
}

.card {
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
    padding: 20px;
    width: 100%;
    margin: 21px auto;
    max-width: 572px;
}

.card label {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.card input {
    width: 24px;
    height: 24px;
    color: #0C9A61;
}

.titulo-card {
    display: flex;
    align-items: center;
    gap: 9px;
    padding-bottom: 24px;
    font-weight: bold;
    width: 100%;
}

.conteudo-card {
    display: flex;
    align-items: center;
    gap: 19px;
    width: 100%;
}

.container-opcao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 435px;
    gap: 24px;
}

.opcao-alimento label {
    display: flex;
    flex-direction: column;
}

.opcao-alimento {
    align-items: center;
    display: flex;
    gap: 14px;
    align-items: center;
}

.footer-modal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 572px;
    margin: auto;
}

#botao-salvar-progresso {
    border-radius: 10px;
    background: #0C9A61;
    border: none;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 103px;
    height: 43px;
}

#botao-cancelar {
    border-radius: 10px;
    border: 1px solid #F4F3F3;
    background: #FFFFFF;
    width: 103px;
    height: 43px;
    color: #141623;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-right: 24px;
}

.main-progresso dialog {
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}