{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DietHub</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="imagens/favicon.ico" />

    <link rel="stylesheet" href="{% static 'core/estilos/estilo.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/estilo-collapse.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/estilo-main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/collapse-formularios.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/novo-formulario.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/alimentos.css' %}" />

    <script src="https://unpkg.com/@phosphor-icons/web"></script>
  </head>

  <body>
    <nav class="side-bar">
      <a href="#" class="logo"><img src="{% static 'imagens/logo-diet-hub.svg' %} " alt="Logo DietHub" /></a>

      <ul>
        <li class="opcao-do-menu opcao-do-menu-atual">
          <a href="/">
            <i class="ph ph-house-line"></i>
            <span>Home</span>
          </a>
        </li>

        <li class="opcao-do-menu">
          <a href="/meus-formularios">
            <i class="ph ph-notepad"></i>
            <span>Formulários</span>
          </a>
        </li>

        <li class="opcao-do-menu">
          <a href="/alimentos">
            <i class="ph ph-apple-logo"></i>
            <span>Alimentos</span>
          </a>
        </li>

        <li class="opcao-do-menu">
          <a href="#">
            <i class="ph ph-gear-six"></i>
            <span>Configurações</span>
          </a>
        </li>

        <li class="opcao-do-menu">
          <a href="#">
            <i class="ph ph-moon-stars"></i>
            <span>Tema dark</span>
          </a>
        </li>
      </ul>
    </nav>
    {% block main %}

    {% endblock %}
  </body>
</html>
