{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DietHub</title>
    <link rel="stylesheet" href="{% static 'estilos/estilo.css' %}" />
    <link rel="stylesheet" href="{% static 'estilos/estilo-registrar-progresso.css' %}" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="imagens/favicon.ico" />

    <link rel="stylesheet" href="{% static 'core/estilos/estilo.css' %}" />

    <link rel="stylesheet" href="{% static 'core/estilos/estilo-login.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/estilo-collapse.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/estilo-main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/collapse-formularios.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/novo-formulario.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/registrar-progresso.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/alimentos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/dieta.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/estilo-tipo-questao.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/estilo-cadastrar-dieta.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'core/estilos/estilo-cadastrar-paciente.css' %}" />
    <link rel="stylesheet" href="{% static 'core/estilos/estilo-cadastrar-alimento.css' %}" />
    <script src="{% static 'core/js/modal.js' %}"></script>

    <script src="{% static 'js/modal.js' %}"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="{% static 'estilos/estilo-diario.css' %}" />
  </head>

  <body>
    {% block sidebar %}

    {% endblock %}

    {% block main %}
      {% block header %}

      {% endblock %}
    {% endblock %}
  </body>
</html>
