{% extends 'core/base.html' %} {% load static %} {% block main %}
  <main id="login-main">
    <div id="imagem-login">
      <div id="logo-container">
        <img src="{% static 'imagens/logo-diet-hub.svg' %}" alt="DietHub" />
      </div>

      <div class="container-mensagem-de-bem-vindo">
        <h1>Bem vindo(a)!</h1>
        <img src="{% static 'imagens/eating-healthy-food-bro.svg' %}" alt="Mulher
        comendo" />
      </div>
    </div>
    <div id="login" class="login-container">
      <div class="conteudo-login-container">
        <h2>Cadastro</h2>
        <h3>Faça o seu cadastro</h3>
        <form method="POST">
          {% csrf_token %}
          <div class="form-item">
            <label for="" id="label-email">Nome:</label>
            {{form.nome}}
          </div>
          <div class="form-item">
            <label for="" id="label-email">Email:</label>
            {{form.email}}
          </div>
          <div class="form-item">
            <label for="" id="label-email">Contato:</label>
            {{form.contato}}
          </div>
          <div class="form-item">
            <label for="" id="label-senha">Senha:</label>
            {{form.senha}}
          </div>
          <div class="form-item">
            <label for="" id="label-email">CRN:</label>
            {{form.crn}}
          </div>
          <button type="submit"><a id="botao-entrar">Cadastrar</a></button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
