{% extends 'core/base.html' %}
{% load static %}

{% block main %}
  <main id="visualizar-diario">
    {% block header %}
      <header>
        <a href="/home" class="logo"><img src="{% static 'imagens/logo-diet-hub.svg' %} " alt="Logo DietHub" /></a>

        <div class="informacoes-do-usuario">
          <div class="texto-informacoes-do-usuario">
            <span class="nome-do-usuario">Taysa</span>
            <span class="tipo-de-usuario">Paciente</span>
          </div>
          <img src="{% static 'imagens/usuario.svg' %}" alt="Logo DietHub" />
        </div>
      </header>
    {% endblock %}

    <section id="main-diario">
      <h1>Diário alimentar</h1>
      <p>Faça seu registro no diário alimentar. Clique no dia desejado</p>
    </section>
    <div id="conteudo-diario">
      <section class="diario">
        <div class="datas">
          <div class="container-datas">
            <h1 class="dia-semana" id="selecionado-semana">Terça</h1>
            <h1 class="data" id="selecionado-dia">26</h1>
          </div>
          <hr class="linha-vertical" />
        </div>
        <div class="container-registros">
          <div class="registros">
            <i class="ph ph-notepad"></i>
            <p>Ainda não há registros para esse dia</p>
          </div>
          <div class="button-registrar">
            <i class="ph ph-plus"></i>
            <button id="abrirModal" type="button">Registrar</button>
          </div>
        </div>
      </section>
      <section class="diario">
        <div class="datas">
          <div class="container-datas">
            <h1 class="dia-semana">Terça</h1>
            <h1 class="data">26</h1>
          </div>
          <hr class="linha-vertical" />
        </div>
        <div class="container-registros">
          <div class="registros">
            <i class="ph ph-notepad"></i>
            <p>Ainda não há registros para esse dia</p>
          </div>
          <div class="button-registrar">
            <i class="ph ph-plus"></i>
            <button id="abrirModal" type="button">Registrar</button>
          </div>
        </div>
      </section>
      <section class="diario">
        <div class="datas">
          <div class="container-datas">
            <h1 class="dia-semana">Terça</h1>
            <h1 class="data">26</h1>
          </div>
          <hr class="linha-vertical" />
        </div>
        <div class="container-registros">
          <div class="registros">
            <i class="ph ph-notepad"></i>
            <p>Ainda não há registros para esse dia</p>
          </div>
          <div class="button-registrar">
            <i class="ph ph-plus"></i>
            <button id="abrirModal" type="button">Registrar</button>
          </div>
        </div>
      </section>
      <div class="mes">
        <p>
          <strong>Setembro</strong>
        </p>
      </div>
      <section class="diario">
        <div class="datas">
          <div class="container-datas">
            <h1 class="dia-semana">Terça</h1>
            <h1 class="data">26</h1>
          </div>
          <hr class="linha-vertical" />
        </div>
        <div class="container-registros">
          <div class="registros">
            <i class="ph ph-notepad"></i>
            <p>Ainda não há registros para esse dia</p>
          </div>
          <div class="button-registrar">
            <i class="ph ph-plus"></i>
            <button id="abrirModal" type="button">Registrar</button>
          </div>
        </div>
      </section>
      <section class="diario">
        <div class="datas">
          <div class="container-datas">
            <h1 class="dia-semana">Terça</h1>
            <h1 class="data">26</h1>
          </div>
          <hr class="linha-vertical" />
        </div>
        <div class="container-registros">
          <div class="registros">
            <i class="ph ph-notepad"></i>
            <p>Ainda não há registros para esse dia</p>
          </div>
          <div class="button-registrar">
            <i class="ph ph-plus"></i>
            <button id="abrirModal" type="button">Registrar</button>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock %}
