{% extends 'core/base.html' %}

{% load static %}

{% block sidebar %}
  {% include "core/sidebar.html" with opcao_menu_atual='listar-pacientes' %}
{% endblock %}


{% block main %}
<body>
  <main>
    <header>
      <nav class="breadcrumbs">
        <div class="breadcrumb">
          <a href="{% url 'listar-pacientes'%}">
            <i class="ph ph-house-line"></i>
            <span>Home /</span>
          </a>
        </div>
      </nav>

      {% include "core/info-usuario.html" with info_usuario=nutricionista.nome tipo_usuario='nutricionista' %}
    </header>
    <section class="conteudo-principal">
      <div class="cabecalho-conteudo-principal">
        <h1>Seus pacientes</h1>

        <button class="abrirModal botao-padrao" hx-get={% url 'cadastrar-paciente' %} hx-trigger='click' hx-target='#modal' hx-swap="innerHTML">
          <i class="ph ph-user-circle-plus"></i>
          Novo paciente
        </button>
      </div>

      {% for paciente in pacientes %}
        {% include "paciente/collapse.html" %}
      {% endfor %}      
  
      <dialog class="cadastro-de-paciente" id="myModal">
        <button class="fecharModal"><i class="ph ph-x"></i></button>
        <div id="modal">
        </div>
      </dialog>
    </section>
  </main>
</body>
{% endblock %}
