{% extends 'core/base.html' %} {% load static %} {% block main %}
  <main id="login-main">
    <div id="imagem-login">
      <div id="logo-container">
        <img src="{% static 'imagens/logo-diet-hub.svg' %}" alt="DietHub" />
      </div>

      <div class="container-mensagem-de-bem-vindo">
        <h1>Bem vindo(a)!</h1>
        <img src="{% static 'imagens/eating-healthy-food-bro.svg' %}" alt="Mulher
        comendo" />
      </div>
    </div>
    <div id="login" class="login-container">
      <div class="conteudo-login-container">
        <h2>Login</h2>
        <h3>Faça login para continuar</h3>
        <form action="{% url 'autenticar-usuario' %}" method="post">
          {% csrf_token %}
          <div class="form-item">
            <label for="email" id="label-email">Email:</label>
            <input name="{{form.username.html_name}}" id="email" type="email" placeholder="user@gmail.com" />
          </div>
          <div class="form-item">
            <label for="password" id="label-senha">Senha:</label>
            <input id="password" name="{{form.password.html_name}}" type="password" />
          </div>
          <a id="input-esqueci-senha" href="#">Esqueci a senha</a>
          <button id="botao-entrar" type="submit">Entrar</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
