{% extends 'core/base.html' %}
{% load static %}

{% block main %}
  <dialog class="main-progresso" id="myModal">
    <div class="conteudo-modal">
      <div class="topo-progresso-h1">
        <h1>Registrar progresso</h1>
        <h3>Faça seu registro de hoje no diário alimentar</h3>
      </div>
      <div class="informacao">
        <p id="data">26/09</p>
        <button class="botao-adicionar-info">
          <i class="ph ph-plus"></i>
          Adicionar informação
        </button>
      </div>

      <div class="cards">
        <div class="card">
          <div class="titulo-card">
            <i class="ph ph-coffee"></i>
            <p id="label-de-cafe">Café da manhã</p>
          </div>
          <div class="conteudo-card">
            <div class="container-opcao">
              <div class="opcao-alimento">
                <input type="radio" name="opcao-1" value="Salada de frutas (50kcal)" />
                <label>
                  <span class="titulo-opcao">Opção 1:</span>
                  <span class="alimento">Salada de frutas (50kcal)</span>
                </label>
              </div>
              <div class="opcao-alimento">
                <input type="radio" name="opcao-2" value="Vitamina (50kcal)" />
                <label>
                  <span class="titulo-opcao">Opção 2:</span>
                  <span class="alimento">Vitamina (50kcal)</span>
                </label>
              </div>
            </div>
            <div class="container-opcao">
              <div class="opcao-alimento">
                <input type="radio" name="substituto-2" value="Salada de frutas (50kcal)" />
                <label>
                  <span class="titulo-opcao">Substituto:</span>
                  <span class="alimento">Salada de frutas (50kcal)</span>
                </label>
              </div>
              <div class="opcao-alimento">
                <input type="radio" name="substituto-1" value="Vitamina (50kcal)" />
                <label>
                  <span class="titulo-opcao">Substituto:</span>
                  <span class="alimento">Vitamina (50kcal)</span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="titulo-card">
            <i class="ph ph-coffee"></i>
            <p id="label-de-almoco">Almoço</p>
          </div>
          <div class="conteudo-card">
            <div class="container-opcao">
              <div class="opcao-alimento">
                <input type="radio" name="opcao-1" value="Salada de frutas (50kcal)" />
                <label>
                  <span class="titulo-opcao">Opção 1:</span>
                  <span class="alimento">Salada de frutas (50kcal)</span>
                </label>
              </div>
              <div class="opcao-alimento">
                <input type="radio" name="opcao-2" value="Vitamina (50kcal)" />
                <label>
                  <span class="titulo-opcao">Opção 2:</span>
                  <span class="alimento">Vitamina (50kcal)</span>
                </label>
              </div>
            </div>
            <div class="container-opcao">
              <div class="opcao-alimento">
                <input type="radio" name="substituto-1" value="Vitamina (50kcal)" />
                <label>
                  <span class="titulo-opcao">Substituto:</span>
                  <span class="alimento">Vitamina (50kcal)</span>
                </label>
              </div>
              <div class="opcao-alimento">
                <input type="radio" name="substituto-2" value="Salada de frutas (50kcal)" />
                <label>
                  <span class="titulo-opcao">Substituto:</span>
                  <span class="alimento">Salada de frutas (50kcal)</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-modal">
        <button id="botao-cancelar" type="button">Cancelar</button>
        <button id="botao-salvar-progresso" type="button">Salvar</button>
      </div>
    </div>
    <button id="fecharModal"><i class="ph ph-x"></i></button>
  </dialog>
{% endblock %}
