{% extends 'core/base.html' %}
{% load static %}

{% block main %}
  <body>
    <main id="visualizar-diario">
      <header>
        <a href="/home" class="logo"><img src="{% static 'imagens/logo-diet-hub.svg' %} " alt="Logo DietHub" /></a>

        <div class="informacoes-do-usuario">
          <div class="texto-informacoes-do-usuario">
            <span class="nome-do-usuario">Karla Nunes</span>
            <span class="tipo-de-usuario">Paciente</span>
          </div>
          <img src="{% static 'imagens/usuario.svg' %}" alt="Logo DietHub" />
        </div>
      </header>
      <section id="main-diario">
        <h1>Diário alimentar</h1>
        <p>Faça seu registro no diário alimentar. Clique no dia desejado</p>
        <div class="mes">
          <p>{{mes}}</p>
        </div>
      </section>


      <div id="conteudo-diario">
        {% for diario in diarios %}
         {% include "diario/dia.html" with dia_do_mes=diario.dia_do_mes dia_da_semana=diario.dia_da_semana id_diario=diario.id %}    
        {% endfor %}

      </div>
    </main>
    <dialog class="main-progresso" id="myModal">
      <button class="fecharModal"><i class="ph ph-x"></i></button>
      <div id="modal" class="conteudo-modal">
          
      </div>
    </dialog>
  </body>
{% endblock %}
