{% extends 'core/base.html' %}
{% load static %}

{% block main %}
  <body>
    <main id="visualizar-diario">
      <header>
        <a href="/home" class="logo"><img src="{% static 'imagens/logo-diet-hub.svg' %} " alt="Logo DietHub" /></a>

        <div class="informacoes-do-usuario">
          <div class="texto-informacoes-do-usuario">
            <span class="nome-do-usuario">Karla Nunes</span>
            <span class="tipo-de-usuario">Paciente</span>
          </div>
          <img src="{% static 'imagens/usuario.svg' %}" alt="Logo DietHub" />
        </div>
      </header>
      <section id="main-diario">
        <h1>Diário alimentar</h1>
        <p>Faça seu registro no diário alimentar. Clique no dia desejado</p>
        <div class="mes">
          <p>{{mes}}</p>
        </div>
      </section>


      <div id="conteudo-diario">
        {% include "diario/dia.html" with dia_do_mes=dia_do_mes dia_da_semana=dia_da_semana %}
      </div>
    </main>
    {% include 'diario/registrarProgresso.html' %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const openModal = document.getElementById('abrirModal')
        const modal = document.getElementById('myModal')
        const closeButton = document.getElementById('fecharModal')
        openModal.addEventListener('click', () => {
          modal.showModal()
        })
        closeButton.addEventListener('click', () => {
          modal.close()
        })
      })
    </script>
  </body>
{% endblock %}
