<div class="topo-progresso-h1">
  <h1>Registrar progresso</h1>
  <h3>Faça seu registro de hoje no diário alimentar</h3>
</div>
<div class="informacao">
  <p id="data">26/09</p>
  <button class="botao-adicionar-info">
    <i class="ph ph-plus"></i>
    Adicionar informação
  </button>
</div>

<form action="{% url 'atualizar-diario' diario.id %}" method="post">
  {% csrf_token %}

  <div class="cards">
    {% for refeicao in dieta.refeicoes.all %}
      <div class="card">
        <div class="titulo-card">
          <i class="ph ph-coffee"></i>
          <p id="label-de-cafe"> {{refeicao.nome}} </p>
        </div>
        <div class="conteudo-card">
          <div class="container-opcao">


            {% for alimento in refeicao.alimentos.all %}
              {% if not alimento.e_substituto %}
                <div class="opcao-alimento">
                  <input type="radio" name="{{form.alimentos.html_name}}" value="{{alimento.id}}" {% if alimento in object.alimentos.all  %}checked{% endif %} />
                   {% comment %} {{form.alimentos}} {% endcomment %}
                  {% comment %} {{form.alimentos}} {% endcomment %}
                  <label>
                    <span class="titulo-opcao">Opção {{forloop.counter}}:</span>
                    <span class="alimento">{{alimento.nome}} ({{alimento.calorias}}kcal)</span>
                  </label>
                </div>
              {% else %}

                <div class="opcao-alimento">
                  <input type="radio" name="{{form.alimentos.html_name}}" value="{{alimento.id}}" {% if alimento in object.alimentos.all  %}checked{% endif %}/>
                  <label>
                    <span class="titulo-opcao">Substituto {{forloop.counter}}:</span>
                    <span class="alimento">{{alimento.nome}} ({{alimento.calorias}}kcal)</span>
                  </label> 
                  {% comment %} {{form.alimentos}} {% endcomment %}
                </div>
              {%endif%}
            {% endfor %} 
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  
  <div class="footer-modal">
    <button id="botao-cancelar" type="button">Cancelar</button>
    <button id="botao-salvar-progresso" type="submit">Salvar</button>
  </div>
  
</form>

{{form.errors}}


