{% extends 'core/base.html' %}
{% load static %}
{% block collapse %}
  <ul id="collapse">
    <li>
      <label class="collapse-header" for="first">
        <div class="informacoes-do-paciente">Formulário 1</div>
        <i class="ph ph-caret-down"></i>
      </label>
      <input type="radio" name="collapse" id="first" checked />

      <div class="content">
        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 1</p>
            <p class="pergunta">Qual o seu principal objetivo?</p>
          </div>

          <div class="resposta-multipla-escolha">
            <div class="opcao">
              <span class="nome-opcao">Emagrecer</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Ganhar massa</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Apenas manter a saúde</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Perder gordura</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>
          </div>
        </div>

        <hr class="solid" />

        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 2</p>
            <p class="pergunta">Você possui alergia a algum alimento?</p>
          </div>

          <div class="resposta-aberta">
            <textarea name="alimentos-que-dao-alergia" id="alimentos-que-dao-alergia" cols="30" rows="5" placeholder="Resposta do paciente aqui"></textarea>
          </div>
        </div>

        <hr class="solid" />

        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 3</p>
            <p class="pergunta">Quantos anos você tem?</p>
          </div>

          <div class="resposta-aberta">
            <input type="number" min="1" placeholder="Idade" name="idade" id="idade" />
          </div>
        </div>
        <div class="footer-collapse-pacientes">
          <button id="botao-editar">
            <i class="ph ph-pencil-simple-line"></i>
            <a href="/novo-formulario">Editar</a>
          </button>
          <button id="botao-excluir">
            <i class="ph ph-trash"></i>
            Excluir
          </button>
        </div>
      </div>
    </li>

    <li>
      <label for="second">
        <div class="informacoes-do-paciente">Formulário 2</div>
        <i class="ph ph-caret-down"></i>
      </label>
      <input type="radio" name="collapse" id="second" checked />

      <div class="content">
        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 1</p>
            <p class="pergunta">Qual o seu principal objetivo?</p>
          </div>

          <div class="resposta-multipla-escolha">
            <div class="opcao">
              <span class="nome-opcao">Emagrecer</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Ganhar massa</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Apenas manter a saúde</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Perder gordura</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>
          </div>
        </div>

        <hr class="solid" />

        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 2</p>
            <p class="pergunta">Você possui alergia a algum alimento?</p>
          </div>

          <div class="resposta-aberta">
            <textarea name="alimentos-que-dao-alergia" id="alimentos-que-dao-alergia" cols="30" rows="5" placeholder="Resposta do paciente aqui"></textarea>
          </div>
        </div>

        <hr class="solid" />

        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 3</p>
            <p class="pergunta">Quantos anos você tem?</p>
          </div>

          <div class="resposta-aberta">
            <input type="number" min="1" placeholder="Idade" name="idade" id="idade" />
          </div>
        </div>
        <div class="footer-collapse-pacientes">
          <button id="botao-editar">
            <i class="ph ph-pencil-simple-line"></i>
            <a href="/novo-formulario">Editar</a>
          </button>
          <button id="botao-excluir">
            <i class="ph ph-trash"></i>
            Excluir
          </button>
        </div>
      </div>
    </li>

    <li>
      <label for="third">
        <div class="informacoes-do-paciente">Formulário 3</div>
        <i class="ph ph-caret-down"></i>
      </label>
      <input type="radio" name="collapse" id="third" checked />

      <div class="content">
        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 1</p>
            <p class="pergunta">Qual o seu principal objetivo?</p>
          </div>

          <div class="resposta-multipla-escolha">
            <div class="opcao">
              <span class="nome-opcao">Emagrecer</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Ganhar massa</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Apenas manter a saúde</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>

            <div class="opcao">
              <span class="nome-opcao">Perder gordura</span>
              <button class="botao-ativar-escolha">Ativar</button>
            </div>
          </div>
        </div>

        <hr class="solid" />

        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 2</p>
            <p class="pergunta">Você possui alergia a algum alimento?</p>
          </div>

          <div class="resposta-aberta">
            <textarea name="alimentos-que-dao-alergia" id="alimentos-que-dao-alergia" cols="30" rows="5" placeholder="Resposta do paciente aqui"></textarea>
          </div>
        </div>

        <hr class="solid" />

        <div class="formulario">
          <div class="perguntas">
            <p class="descricao-pergunta">Pergunta 3</p>
            <p class="pergunta">Quantos anos você tem?</p>
          </div>

          <div class="resposta-aberta">
            <input type="number" min="1" placeholder="Idade" name="idade" id="idade" />
          </div>
        </div>
        <div class="footer-collapse-pacientes">
          <button id="botao-editar">
            <i class="ph ph-pencil-simple-line"></i>
            <a href="/novo-formulario">Editar</a>
          </button>
          <button id="botao-excluir">
            <i class="ph ph-trash"></i>
            Excluir
          </button>
        </div>
      </div>
    </li>
  </ul>
{% endblock %}
