{% extends 'formulario/meus-formularios.html' %}

{% load static %}

{% block main %}
<body>
  <main>
    <header>
      <nav class="breadcrumbs">
        <div class="breadcrumb">
          <a href="{% url 'listar-pacientes'%}">
            <i class="ph ph-house-line"></i>
            <span>Home /</span>
          </a>
        </div>

        <div class="breadcrumb">
          <a href="{% url 'listar-formularios' %}">
            <i class="ph ph-notepad"></i>
            <span>Meus formulários /</span>
          </a>
        </div>

        <div class="breadcrumb">
          <a href="{% url 'cadastrar-formulario' %}">
            <i class="ph ph-notepad"></i>
            <span>Novo formulário /</span>
          </a>
        </div>
      </nav>

      <div class="informacoes-do-usuario">
        <div class="texto-informacoes-do-usuario">
          <span class="nome-do-usuario">Claudinei Camilo</span>
          <span class="tipo-de-usuario">Nutricionista</span>
        </div>
        <img src="{% static 'imagens/usuario.svg' %}" alt="Logo DietHub" />
      </div>
    </header>
    <section class="conteudo-principal">
      <div class="cabecalho-conteudo-principal">
        <h1>Novo formulário</h1>
      </div>

      <div class="novo-formulario">
        <form method="post" class="formulario-formulario" action="{% url 'cadastrar-formulario' %}">
          {% csrf_token %}
          <input type="hidden" name="formulario_id" value="{{ formulario.id }}">

          <div id="container-tipo-formulario">
            {% for radio in form.tipo %}
              {{ radio.tag }} 
              <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label><br>
            {% endfor %}
          </div>

          <div id="perguntas-container">
            <div class="container-pergunta" id="pergunta-1">
              <div class="form-item">
                {{ form.pergunta.label_tag }}
                {{ form.pergunta }}
              </div>
              <div class="footer-pergunta">
                <div class="checkbox">
                  <label for="{{ form.obrigatorio.id_for_label }}">Pergunta obrigatória</label>
                  {{ form.obrigatorio }}
                </div>
                <button class="botao-excluir" onclick="excluirPergunta(this)">
                  <i class="ph ph-trash"></i>
                  Excluir
                </button>
              </div>
            </div>
          </div>

          <button class="botao-nova-questao" type="button" onclick="adicionarPergunta()">
            <i class="ph ph-plus"></i>
            Nova questão
          </button>

          <button id="botao-salvar" type="submit">Salvar alterações</button>
        </form>
        </div>
    </section>
  </main>
</body>
<script>
  let contadorPerguntas = 1;

  function adicionarPergunta() {
    contadorPerguntas++;

    const novoContainer = document.createElement('div');
    novoContainer.classList.add('container-pergunta');
    novoContainer.id = `pergunta-${contadorPerguntas}`;

    novoContainer.innerHTML = `
      <div class="form-item">
        <label for="id_formulario-${contadorPerguntas}-pergunta">Pergunta:</label>
        <input type="text" name="formulario-${contadorPerguntas}-pergunta" id="id_formulario-${contadorPerguntas}-pergunta">
      </div>
      <div class="footer-pergunta">
        <div class="checkbox">
          <label for="id_formulario-${contadorPerguntas}-obrigatorio">Pergunta obrigatória</label>
          <input type="checkbox" name="formulario-${contadorPerguntas}-obrigatorio" id="id_formulario-${contadorPerguntas}-obrigatorio">
        </div>
        <button class="botao-excluir" onclick="excluirPergunta(this)">
          <i class="ph ph-trash"></i>
          Excluir
        </button>
      </div>
    `;

    const perguntasContainer = document.getElementById('perguntas-container');
    perguntasContainer.appendChild(novoContainer);
  }

  function excluirPergunta(button) {
    const perguntaParaExcluir = button.parentNode.parentNode;
    perguntaParaExcluir.parentNode.removeChild(perguntaParaExcluir);
  }
</script>

{% endblock %}
